.container {
  margin: auto;
  width: 75%;
  margin-top: 20px;
  margin-bottom: 30px;
}
.all_rows {
  float: right;
}
.sider {
  position: absolute;
  height: 200px;
  border: solid 1px gray;
  border-radius: 5px;
  top: 30%;
  left: 1%;
  display: flex;
  flex-direction: column;
}
.sider > div {
  height: 100%;
  font-size: 20px;
  padding: 15px;
}
.part1 {
  background-color: rgb(20, 17, 17);
}
